*
{
    margin: 0;
    padding: 0;
}

.dv1
{
    background:#00FFC7;
    font-family: Arial, Helvetica, sans-serif;
    color:#056139;
    z-index: 200;
    border:3px solid#0DFF96;
    padding: 10px;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    overflow: auto;
    resize: both;
    shape-rendering: geometricPrecision;
    text-align: center;
    box-sizing: border-box;
}

.dv0
{
    font: Arial;
    font-size: 25px;
    text-align: center;
    color: #FF218C;
}

.letter
{
    color: rgb(246, 156, 37);
}
.dv2
{
    background:#00FFC7;
    font-family: Arial, Helvetica, sans-serif;
    color:#056139;
    position: absolute;
    z-index: 210;
    left: 35%;
    top:200px;
    border:3px solid#0DFF96;
    padding: 10px;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    overflow: auto;
    resize: both;
    shape-rendering: geometricPrecision;
    text-align: center;
    float: right;
    box-sizing: border-box;
}

.raloy
{
float: right;
}

.dv3
{
    background-color: rgb(202, 255, 243);
    text-anchor: end;
    text-align: center;
    box-sizing: border-box;
}

.dv4
{
    background-color: rgba(255, 71, 255, 0.267);
    text-anchor: end;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgba(252, 146, 46, 0.288);
    float: inline-start;
}